.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: skyblue;
  font-family: 'Roboto', sans-serif;
}

header {
  background: linear-gradient(to right, darkgrey, #333); 
  color: white;
  text-align: center;
  padding: 20px;
}

h1, h2, h3 {
  font-family: 'Lobster', cursive; 
  font-weight: bold;
}

p {
  font-family: 'Arial', sans-serif; 
  line-height: 1.5;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

button {
  background-color: #004987; /* CSUSB's primary color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}